<div id="form-popover" popover="auto">
<form action="/" method="post">
    <h2 class="form-title">Traha bo lista</h2>
      <div class="input-container">
            <label for="grocery">Grocery name</label>
            <input type="text" id="grocery">
        </div>
        <div class="input-container">
            <label for="decription">description</label>
            <input type="text" id="description">
        </div>
        <div class="input-container">
            <img src="" alt="">
            <label for="image">Grocery name</label>
            <input type="file" id="image">
        </div>
        <div class="input-container">
            <label for="price">Grocery name</label>
            <input type="number" id="price">
        </div>

        <div class="input-group input-number-group">
            <button type="button" class="input-group-button input-number-decrement">
                <span>-</span>
            </button>
            <input type="number" class="js-item-qty" value="1" for="943">
            <button type="button" class="input-group-button input-number-increment">
                <span>+</span>
            </button>
        </div>

        <button type="submit"><span>Add item</span></button>
</form>
</div>