

    <section class="overview-container">
        <ul class="items">
            <% groceries.forEach(function(item) { %>
            <li class="item">
                <label class="checkbox-wrapper">
                    <input  class="checkbox-input" type="checkbox">
                </label>

                <% if (item.images) { %>
                <figure class="img-container">
                    <img src="<%= item.images %>" alt="<%= item.name %>">
                </figure>
                <% } %>
                <article class="item-content">
                    <small class="amount"><span class="count"><%= item.amount %></span>x</small>

                    <div class="text">
                        <h3 class="grocery-name"><%= item.name %></h3>
                        <p class="description"><%=item.description %></p>
                        <p class="price"><%= item.price %> euro</p>
                    </div>

                    <button class="button delete-button" data-id="<%= item.id %>">
                        <%- include('partials/svg.html', { id: 'delete' , width: 20, height: 20, ariaLabel: 'Verwijderen' }) %>
                    </button>
                </article>
            </li>
            <% }); %>
        </ul>
    </section>
    <button popovertarget="form-popover" class="button add-item-button">
        <%- include('partials/svg.html', { id: 'add' , width: 32, height: 32, ariaLabel: 'Toevoegen' }) %>
    </button>