<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || 'Default Title' %></title>
    <% if (stylesheets) { %>
    <% stylesheets.forEach(function (stylesheet) { %>
    <link rel="stylesheet" href="<%= stylesheet %>">
    <% }); %>
    <% } %>
</head>
<body>
<header id="top">
    <%- include('./partials/header.html')%>
</header>

<main id="main" class="content-grid">
    <% if (content) { %>
    <%- include(content) %>
    <% } else { %>
    <p>No content available.</p>
    <% } %>
</main>

<footer id="bottom">

    <div class="copyright">
        <p>&copy; <%= new Date().getFullYear() %> Grocery app. All rights reserved.</p>
    </div>
</footer>

<%- include('./partials/add-items-form.html')%>


<% if (scripts) { %>
<% scripts.forEach(function (script) { %>
<script src="<%= script %>"></script>
<% }); %>
<% } %>
</body>
</html>
