:root {
  --primary-color: #F8CECF;
  --secondary-color: #FF8F69;
  --background-color: #FEFBF6;
  --white: #ffffff;
  --black: #000;


  --font-family: 'Arial', sans-serif;
  --font-size-base: 16px;

  --padding-base: 1rem;
  --margin-base: 1rem;
}
